# 🔧 Configuración general
PORT=3000

# ⚽ API externa
FOOTBALL_API_KEY=ab8832c40fbc4852bf2ababb3a679b12
FOOTBALL_API_URL=https://api.football-data.org/v4/

# 🌍 URL del servidor (Backend)
BACKEND_URL=http://localhost:3000/

# URL del frontend
FRONTEND_URL=http://localhost:5173

# 🔑 Clave secreta JWT
JWT_SECRET=miclavesupersegura123

# 🧪 Token de prueba (opcional)
TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MTIsImVtYWlsIjoiYXBwaW9sYXphX19fX0BnbWFpbC5jb20iLCJ1c2VybmFtZSI6Ikp1bGlhbjkwIiwiaWF0IjoxNzYzMDg5NTUwLCJleHAiOjE3NjM2OTQzNTB9.QBQJoOPGVNjJ-iHDc91m21gjAvdJML42ebWHUgmE4U8

# 👤 Credenciales de usuario de prueba (opcional)
EMAIL=appiolaza____@gmail.com
PASSWORD=julian10